{include file="public/_meta"}

<article class="page-container">
	<form class="form form-horizontal" id="form-news-add" url="{:url('news/edit')}">
		<input type="hidden" name="news_id" value="{$news.news_id}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$news.title}" placeholder="" id="title" name="title">
			</div>
		</div>
		<!-- <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">简略标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="articletitle2" name="articletitle2">
			</div>
		</div> -->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="cat_id" class="select">
							<option value="0">全部栏目</option>
							{volist name="cateres" id="vo"}
							<option {if condition="$news.cat_id eq $vo.cat_id"}selected="selected"{/if} value="{$vo.cat_id}"><?php echo str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;',$vo['level']*2); $a = empty($vo['level']) ? '' : '├';echo $a;?>{$vo.cat_name}</option>
							{/volist}
				</select>
				</span> </div>
		</div>
		<!-- <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章类型：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="articletype" class="select">
					<option value="0">全部类型</option>
					<option value="1">帮助说明</option>
					<option value="2">新闻资讯</option>
				</select>
				</span> </div>
		</div> -->
		<!-- <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">排序值：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="0" placeholder="" id="articlesort" name="articlesort">
			</div>
		</div> -->
		 <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">关键词：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$news.keywords}" placeholder="" id="keywords" name="keywords">
			</div>
		</div> 
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章摘要：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="description" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this,200)">{$news.description}</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		<!-- <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章作者：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="0" placeholder="" id="author" name="author">
			</div>
		</div>
		<div class="row cl">	
			<label class="form-label col-xs-4 col-sm-2">文章来源：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="0" placeholder="" id="sources" name="sources">
			</div>
		</div> -->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">是否推荐：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box layui-input-block">
					<input type="checkbox" id="is_position" name="is_position" value="{$news.is_position}" {if condition="$news.is_position eq 1 "}checked="checked"{/if}  onchange="changeval()">

					<label for="checkbox-pinglun">&nbsp;</label>
				</div>
			</div>
		</div>
		<!-- <div class="row cl">
			<label class="form-label col-xs-4 col-sm-x2">使用独立模版：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<input type="checkbox" id="checkbox-moban">
					<label for="checkbox-moban">&nbsp;</label>
				</div>
				<button onClick="mobanxuanze()" class="btn btn-default radius ml-10">选择模版</button>
			</div>
		</div> -->
		<div class="row cl">
	      <label class="form-label col-xs-4 col-sm-2">缩略图：</label>
	      <div class="formControls col-xs-8 col-sm-9">
	        <input id="file_upload"  type="file" multiple="true" >
	        <img {if condition="$news.thumb eq '' "}style="display: none"{/if} id="upload_org_code_img" src="{$news.thumb}" width="150" height="150">
	        <input id="file_upload_image" name="thumb" type="hidden" multiple="true" value="{$news.thumb}">
	      </div>
	    </div>
		<div class="row cl">
			
			<label class="form-label col-xs-4 col-sm-2">文章内容：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<script id="editor" type="text/plain" name="content" style="width:100%;height:400px;">{$news.content}
				</script> 
		
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>保存</button>
				
				<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="public/_footer"} <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/hadmin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/hadmin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/ueditor/1.4.3/ueditor.config.js"></script> 
<script type="text/javascript" src="__STATIC__/hadmin/lib/ueditor/1.4.3/ueditor.all.min.js"> </script> 
<script type="text/javascript" src="__STATIC__/hadmin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
{load href="__STATIC__/js/admin/uploadify/jquery.uploadify.min.js" /}
{load href="__STATIC__/js/admin/images.js" /}
<script>
    function changeval(){
           var check = document.getElementById("is_position");
            if(check.checked == true){
                 document.getElementById("is_position").value = "1";
            }else{
                 document.getElementById("is_position").value = "0";
             }
    }
</script>
<script type="text/javascript">
$(function(){
/*	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});*/



	//表单验证
	$("#form-news-add").validate({
		rules:{
			title:{
				required:true,
			},
			cat_id:{
				required:true,
			},
			keywords:{
				required:true,
			},
			description:{
				required:true,
			},
			content:{
				required:true,
			},
			

		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			apicms_save(form);
			//$(form).ajaxSubmit();
			//var index = parent.layer.getFrameIndex(window.name);
			//parent.$('.btn-refresh').click();
			//parent.layer.close(index);
		}
	});
	

	
	var ue = UE.getEditor('editor',{

enterTag:'' ,

});

});
</script>

<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>